
{% extends "base.html" %}

{% block title %}Bookmarked Recipes{% endblock %}
{% block content %}
<div class="saved-container">
    <div class="saved-title-container">
        <h2 class="saved-title">My Saved Recipes</h2>
    </div>

    {% if recipes %}
    <div class="saved-grid-container">
        <div class="saved-grid">
            {% for recipe in recipes %}
                <div class="saved-card">
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    {% endif %}
                    <div class="saved-card-content">
                        <h4>{{ recipe.title }}</h4>
                        <p>{{ recipe.cuisine }}</p>
                        <a href="{% url 'recipe_detail' recipe.id %}" class="saved-btn">
                            View
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="empty-saved">
            <p>You haven’t saved any recipes yet.</p>
        </div>
    {% endif %}

</div>
{% endblock %}
