{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="settings-container">

    <h2 class="settings-title">Account Settings</h2>

    <!-- LOGOUT SECTION -->
    <div class="settings-box">
    <button class="toggle-btn" onclick="toggleSection('logout-section')">
        Logout?
    </button>

    <div id="logout-section" class="settings-content hidden">
        <a href="{% url 'logout' %}" class="logout-btn">Yes, I want to logout.</a>
    </div>
    </div>

    <!-- CHANGE PASSWORD SECTION -->
    <div class="settings-box">
        <button class="toggle-btn" onclick="toggleSection('password-section')">
            Change Password 
        </button>

        <div id="password-section" class="settings-content hidden">
            <form method="POST" class="form-block">
                {% csrf_token %}
                {{ password_form.as_p }}
                <button type="submit" class="submit-btn">Update Password</button>
            </form>
        </div>
    </div>

    <!-- DELETE ACCOUNT SECTION -->
    <div class="settings-box">
        <button class="toggle-btn" onclick="toggleSection('delete-section')">
            Delete Account 
        </button>

        <div id="delete-section" class="settings-content hidden">
            <a href="{% url 'delete_confirm' %}" class="delete-btn">Proceed to Delete Account</a>
        </div>
    </div>

</div>

<!-- JS FOR DROPDOWN -->
<script>
function toggleSection(id) {
    const section = document.getElementById(id);
    section.classList.toggle("hidden");
}
</script>

{% endblock %}
