{% extends "base.html" %}
{% block title %}Upload Recipe{% endblock %}

{% block content %}
<section class="upload-section">
    <h2>Upload New Recipe</h2>


    <form method="POST" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}

        <input type="text" name="title" placeholder="Recipe Title" required>

        <input type="text" name="cuisine" placeholder="Cuisine (Italian, Indian, etc.)" required>

        <input type="text" name="prep_time" placeholder="Preparation Time (e.g. 15 mins)" required>

        <input type="text" name="cook_time" placeholder="Cooking Time (e.g. 30 mins)" required>

        <div class="difficulty-buttons">
            <label class="btn"><input type="radio" name="difficulty" value="Easy" required> Easy</label>
            <label class="btn"><input type="radio" name="difficulty" value="Medium"> Medium</label>
            <label class="btn"><input type="radio" name="difficulty" value="Hard"> Hard</label>
        </div>
        
        <textarea name="ingredients" placeholder="Ingredient list" required></textarea>
        <textarea name="short_description" placeholder="Instructions" required></textarea>

        <label>Upload Image</label>
        <input type="file" name="image" accept="image/*">

        <label>Upload Video</label>
        <input type="file" name="video" accept="video/*">

        <button type="submit">Upload Recipe</button>

        
    </form>
    
</section>
{% endblock %}



